{% extends 'base/base.html' %}
{%load static %}
{%block content%}

<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet"> 

<link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet">


<div class="row" >
<div class="center">
<h4 class="blue-text" style="font-family: 'Pacifico', cursive;margin: 4rem 0 4% 0;font-size:4rem">Looking for a room! </h4>
<h4 class="blue-text" style="font-family: 'Pacifico', cursive;margin: 0 0 4% 0;line-height: 25%;font-size:2.5rem">We have it ready for you...</h4>
</div>

</script>
{% endblock %}